{% extends "layout.html" %}

{% block content %}
<section class="events-page">
  <h1 class="page-title">{{ title }}</h1>

  {% if current_user.is_authenticated and current_user.is_host %}
    <div class="page-actions">
      <a href="{{ url_for('events.create_event') }}" class="btn btn-create">Create New Event</a>
    </div>
  {% endif %}

  {% for group_name, group_events in groups.items() %}
    {% if group_events %}
      <h2 class="group-heading">{{ group_name }}</h2>

      <div class="events-list">
        {% for event in group_events %}
        <article class="event-item">

          <!-- Left date block -->
          <div class="date-block">
            <div class="date-time">
              <div class="date-day">{{ event.event_datetime.strftime('%d') }}</div>
              <div class="date-month">{{ event.event_datetime.strftime('%d') }}</div>

              <div class="date-hour">
                {% if event.event_datetime.strftime('%H:%M') != '00:00' %}
                  {{ event.event_datetime.strftime('%H:%M') }}
                {% endif %}
              </div>
            </div>
          </div>

          <!-- Main info -->
          <div class="event-main">
            <h3 class="event-title">
              <a href="{{ url_for('events.event_detail', event_id=event.id) }}">{{ event.title }}</a>
            </h3>

            <p class="event-desc">{{ event.description }}</p>
          </div>

          <!-- Right meta & actions -->
          <div class="event-meta">
            <!-- <div class="meta-top">
              <div class="meta-host">
                <strong>{{ event.event_datetime.strftime('%d %b %Y %H:%M') }}</strong>
              </div>
            </div> -->

            <div class="meta-action">
              
                <a 
                    href="https://www.google.com/calendar/render?action=TEMPLATE&text={{ event.title|urlencode }}&details={{ event.description|urlencode }}&dates={{ event.event_datetime.strftime('%Y%m%dT%H%M00') }}/{{ event.end_datetime.strftime('%Y%m%dT%H%M00') }}
                    &ctz=Europe/Kyiv"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="btn btn-calendar"
                > + Add to calendar</a>

              {% if current_user.is_authenticated and current_user.is_host %}
                <div class="host-controls">
                  <a href="{{ url_for('events.edit_event', event_id=event.id) }}" class="btn btn-edit small">Edit</a>
                  <form method="POST" action="{{ url_for('events.delete_event', event_id=event.id) }}" style="display:inline;">
                    <button type="submit" class="btn btn-delete small">Delete</button>
                  </form>
                </div>
              {% endif %}
            </div>
          </div>

        </article>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
</section>
{% endblock %}
