<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title if title else "Event Manager" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>

<nav class="topnav">
    <div class="topnav-inner">
      <a href="/">Home</a>
      <a href="/events">Events</a>
      <a href="{{ url_for('resources.resources_list') }}">Resources</a>
      <a href="{{ url_for('events.past_events') }}">Archive</a>
      <div class="spacer"></div>

      {% if current_user.is_authenticated %}
          <a href="{{ url_for('auth.logout') }}" class="nav-link">Logout</a>
      {% else %}
          <a href="{{ url_for('auth.login') }}" class="nav-link">Host Login</a>
      {% endif %}
    </div>
</nav>

<main class="page-wrap">
  <div class="page-container">
      {% block content %}{% endblock %}
  </div>
</main>

</body>
</html>
