{% extends "layout.html" %}

{% block content %}
<section class="events-page">
  <h1 class="page-title">{{ title }}</h1>

  <form method="get" class="filter-bar">
    <select name="tag_id" class="filter-select" onchange="this.form.submit()">
        <option value="">All Categories</option>
        {% for tag in all_tags %}
          <option value="{{ tag.id }}"
                  {% if tag_id == tag.id %}selected{% endif %}>
            {{ tag.icon }} {{ tag.name }}
          </option>
        {% endfor %}
    </select>
  </form>

  <div class="events-list">
    {% for event in events %}
    <article class="past-event-item">

      <!-- Left date block -->
      <div class="date-block">
        <div class="date-top">
          {{ event.event_datetime.strftime('%d %b').upper() }}
        </div>
        <div class="date-time-big">
          {% if event.event_datetime.strftime('%H:%M') != '00:00' %}
            {{ event.event_datetime.strftime('%H:%M') }}
          {% endif %}
        </div>
      </div>

      <!-- Main info -->
      <div class="event-main">
        <h3 class="event-title">
          <a href="{{ url_for('events.event_detail', event_id=event.id) }}">{{ event.title }}</a>
          <span class="event-tag">{{ event.tag.icon or '🤔' }} {{ event.tag.name }}</span>
        </h3>
        <p class="event-desc">{{ event.description }}</p>
      </div>

      <!-- Right meta -->
      <div class="event-meta">
            <div class="meta-action">
              {% if current_user.is_authenticated and current_user.is_host %}
                <div class="host-controls">
                  <a href="{{ url_for('events.edit_event', event_id=event.id) }}" class="btn btn-edit small">Edit</a>
                  <form method="POST" action="{{ url_for('events.delete_event', event_id=event.id) }}" style="display:inline;">
                    <button type="submit" class="btn btn-delete small">Delete</button>
                  </form>
                </div>
              {% endif %}
            </div>
        </div>

    </article>
    {% endfor %}
  </div>

<div class="pagination">
  {% if pagination.has_prev %}
    <a href="{{ url_for('events.past_events',
            page=pagination.prev_num,
            tag_id=tag_id
        ) }}">
      Previous
    </a>
  {% endif %}

  <span>Page {{ pagination.page }} of {{ pagination.pages }}</span>

  {% if pagination.has_next %}
    <a href="{{ url_for('events.past_events',
            page=pagination.next_num,
            tag_id=tag_id
        ) }}">
      Next
    </a>
  {% endif %}
</div>
</section>
{% endblock %}